/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
    The following is label styles for the abstract.
*/
.label {
    text-decoration: underline 2px;
}

.bg {
    text-decoration-color: blue;
}

.obj {
    text-decoration-color: magenta;
}

.method {
    text-decoration-color: green;
}

.res {
    text-decoration-color: orange;
}

.other {
    text-decoration-color: darkgrey;
}